<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>274205044211-ujancosdhhe02hb744kgenjs88d5hhvl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.274205044211-ujancosdhhe02hb744kgenjs88d5hhvl</string>
	<key>API_KEY</key>
	<string>AIzaSyAgXe_oWEwIw3vkto6HH9hltIV6HRbJQ-4</string>
	<key>GCM_SENDER_ID</key>
	<string>274205044211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecomBloc</string>
	<key>PROJECT_ID</key>
	<string>bloc-learnings</string>
	<key>STORAGE_BUCKET</key>
	<string>bloc-learnings.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274205044211:ios:11c1beb2fbcb5c5dd5f686</string>
</dict>
</plist>